
.pageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.allFoldersContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    cursor: pointer;
}
.fileContainter{
    position: relative;
    height: 210px;
    aspect-ratio: 10/12;
    /*border: red solid;*/
    object-fit: contain;
    margin: 10px;
}
.img{
    /*height: 100%;*/
    width: 100%;
}
.description{
    text-align: center;
}






